:root {
  --page-elem: rgb(80, 133, 165);
  --accent: rgb(255, 137, 48);
  --background: rgba(221, 226, 233, 1);
}

.card{
    margin: 5px 0px;
}

.container:first-child{
    margin-top: 2%
}

.logo{
    color: green;
}


div>.jumbotron{
    margin-top: 10px;
}

.param_row{
    margin-top: 20px;
}

.dataset{
    margin-top: 10px;
}

.opac-button{
 background-color: rgba(0,0,0,0);
    border: none;
    color: black;
}

.poapangenome_content{
    margin: 30px 5px 5px 0px;
}


.poapangenome_label{
    align-self: flex-start !important;
}

.hide{
    visibility: hidden;
}

.correct{
    color: var(--success)
}

.incorrect{
    color: var(--danger)
}

.result_btn{
    margin: 5px;
}

#pangviz_load_row{
    margin: 20px 5px 5px 5px;
}

/*#task_parameters_row{*/
/*    margin: 0px 5px 5px 5px;*/
/*}*/

.file_upload{
    width:100%;
    height:60px;
    padding: 15px 10px 10px 10px;
    line-height: 30px;
    border: 1px black dashed;
    border-radius: 5px;
    text-align: left;
    /*margin: 10px;*/
}

.next_to_icon{
    padding-left: 10px;
}

i{
    align-self: center;
}

#or{
    text-align: center;
    font-size: 2em;
}
#examples_dropdown{
    text-align: center;
}

.vis_row{
    padding: 20px 30px;
    /*background-color: var(--light);*/
    background-color: var(--background);
    border-radius: 25px;
    /*margin-top: 20px;*/
    margin: 20px 5px 5px 5px;
}

#arrow_icon{
    margin: 0px 0px 0px 100px;
}

#poapangenome_form{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
}

a{
    color: rgb(255, 137, 48);
}


.navbar, .jumbotron{
    background-color: rgba(221, 226, 233, 1) !important;
}

.rc-slider-handle, .rc-slider-dot-active, .tools_tab{
    border-color: var(--accent);
}

.page_elem{
    background-color: var(--page-elem);
}

#consensus_tree_col{
    padding: 20px;
    background-color: var(--background);
}

#id_consensus_table_container{
    /*overflow-x: scroll;*/
    width: auto;
}

#id_page_content{
    border-top: solid var(--accent)
}