:root {
    --page_background: #75bba7;
    --page-elem: rgb(80, 133, 165);
    --accent: #272635;
    --light: whitesmoke;
}

canvas{
    left: 0px;
    width: 100%;
    height: 100%;
}

.card{
    margin: 5px 0px;
}

.container:first-child{
    margin-top: 2%
}

.logo{
    color: #272635;
}

div>.jumbotron{
    margin-top: 10px;
}

.param_row{
    margin-top: 20px;
}

.dataset{
    margin-top: 10px;
}

.opac-button{
 background-color: rgba(0,0,0,0);
    border: none;
    color: black;
}

.poapangenome_content{
    margin: 15px 5px 5px 15px;
}

.poapangenome_label{
    align-self: flex-start !important;
    font-size: 90%;
}

.hide{
    visibility: hidden;
}

.correct{
    color: var(--success)
}

.incorrect{
    color: var(--danger)
}

.result_btn{
    margin: 5px;
}

#pangviz_load_row{
    margin: 20px 5px 5px 5px;
}

.file_upload{
    width:100%;
    height:60px;
    padding: 15px 10px 10px 10px;
    line-height: 30px;
    border: 1px black dashed;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.next_to_icon{
    padding-left: 10px;
}

.tooltip-icon{
    margin: 0px 10px;
    cursor: pointer;
    color: grey;
}

.tooltip-icon:hover{
    color: lightskyblue;
}

i{
    align-self: center;
}

#or{
    text-align: center;
    font-size: 2em;
}
#examples_dropdown{
    text-align: center;
}

.vis_row{
    padding: 20px 30px;
    background-color: var(--light);
    /* background-color: var(--page_background); */
    border-color: var(--page_background);
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    /*margin-top: 20px;*/
    margin: 20px 5px 5px 5px;
    text-align: center;
}

#arrow_icon{
    margin: 0px 0px 0px 100px;
}

#poapangenome_form{
    padding: 20px;
    border-radius: 10px;
    /* border: 10px solid #75bba7; */
    text-align: center;
    background-color: var(--light);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#poapangenome_result{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

#poagraph-simplifications{
    text-align: left;
    max-width: 30%;
    margin-bottom: 20px;
}

/* #poagraph_dropdown{
    margin: 0px 80px 50px 80px;
} */


#poagraph{
    /* margin-bottom: 50px; */
    width: 100%;
    height: 400px;
}

#poagraph_container{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    height: 430px;
}

#poagraph-slider{
    width: 80%;
    margin: 50px auto;
}

#poagraph .svg-container{
    min-height: 400px;
}

#consensuses_table{
    overflow: scroll
}

.navbar{
    background-color: #272635 !important;
}

.jumbotron{
    background-color: #75bba7 !important;
}

.rc-slider-handle, .rc-slider-dot-active, .tools_tab{
    border-color: var(--accent);
}

.page_elem{
    background-color: var(--page-elem);
}

.containter, #consensus_tree_col{
    padding: 20px;
    background-color: var(--background);
}

.question-answer{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: var(--page-elem);
}

.answer{
    color: whitesmoke;
    padding: 15px;
}

.footer{
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

#id_consensus_table_container{
    /*overflow-x: scroll;*/
    width: auto;
}

#id_page_content{
    border-top: solid var(--accent)
}

.card-header{
    background-color: #75bba7;
}

.tools-logo{
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    line-height: 40px;
}

.circle-img {
    margin-top: 40px;
    margin-bottom: 10px;
    z-index: 10;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    opacity: 0.8;
    background-color: white;
}

.circle-img:hover{
    opacity: 1;
}

.small_icon {
    margin-top: 110px;
    width: 100px;
    height: auto;
}

.medium_icon {
    margin-top: 10px;
    width: 200px;
    height: auto;
    border-radius: 45%;
}

summary{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.code_markdown {
    margin: 30px 0px;
    padding: 10px;
    background-color: #cddddd;
    color: black;
    word-break: break-word;
    font-size: 87.5%;
}

.upload-icon {
    padding-left: 10px;
    padding-right: 20px;
}

#pangenome_upload {
    width: 500px;
    cursor: pointer;
}

#pangviz_load_row {
    display: flex;
    justify-content: center;
}

details {
    width: 100%;
}

.secondary {
    font-size: 80%;
    font-weight: 400;
    color: #95a5a6;
    padding: 0px 20px 0px 0px;
}

.center_flex_form {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
}

.example {
    width: 33%;
    padding: 20px;
    vertical-align: top;
}

.width40 {
    width: 40%;
}

.pang_form {
    min-height: 80px;
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.btn-secondary {
    background-color: #75bba7;
    border-color: #75bba7;
}

.btn-secondary:hover {
    background-color: var(--page-elem);
    border-color: var(--page-elem);
}

.active_link {
    /* background-color: #75bba7; */
    color: #f1f8f6 !important;
    background-color: var(--page-elem);
}

#consensus_tree_slider {
    width: 85%;
}

#full_pangenome_graph {
    height: 300px;
    width: 100%;
    margin-top: -40px;
}

#poagraph_start, #poagraph_end{
    display: inline-block;
    margin: 5px 10px;
}

#poagraph_region_button{
    margin: 10px auto 20px auto;
}

.daq-numericinput--light__input{
    width: 80px !important;
}